$colorPrincipal:#6b2bbf;
$colorSecundario:#954cf5;
$colorFondo:#b1acb52e;

$fuentePrincipal:'Roboto', sans-serif;
$fuenteFooter:'Hind Siliguri', sans-serif;

.boton {
    position: fixed;
    text-align: center;
    right: 3.5rem;
    bottom: 1.5rem;
    i {
        font-size: 3rem;
        color: $colorPrincipal;
    }
}


.borde {
    border: 1px solid #00000024;
}